
        <h1>Answer Some Questions</h1>
        <h4>All answers are anonymous</h4>
        <div>
        <p>
            <!-- className={questions} -->
            Find out you student type!
            <ol>
                <li>In these trying times, does anything other than health and family really matter?</li>
                <p>
                    <input type ="radio">Yes</input>
                    <input type ="radio">No</input>
                    <input type ="radio">But what about after?</input>
                </p>
                <li>Weed, do you smoke it?</li>
                <p>
                    <input type ="radio">Yeah</input>
                    <input type ="radio">No</input>
                    <input type ="radio">I wanna try</input>
                </p>
                <li>How do you feel right now?</li>
                <p>
                    <input type ="radio">Good</input>
                    <input type ="radio">Bad</input>
                    <input type ="radio">Indifferent</input>
                </p>
                <li>What's your favorite animal</li>
                <p>
                    <input type ="radio">Cat</input>
                    <input type ="radio">Dog</input>
                    <input type ="radio">Small animals</input>
                </p>
                <li>When you think about your life, do you feel accomplished?</li>
                <p>
                    <input type ="radio">Yes</input>
                    <input type ="radio">No</input>
                    <input type ="radio">I am happy and that's all that matters</input>
                </p>
                <li>Have you ever wanted to skip this class</li>
                <p>
                    <input type ="radio">Yes</input>
                    <input type ="radio">No</input>
                    <input type ="radio">I have skipped multiple times</input>
                </p>
                <li>Do you want UCF to give you your money back?</li>
                <p>
                    <input type ="radio">Yes</input>
                    <input type ="radio">No</input>
                    <input type ="radio">Partial</input>
                </p>
                <li>What political party do you agree with?</li>
                <p>
                    <input type ="radio">Democrat</input>
                    <input type ="radio">Republican</input>
                    <input type ="radio">Independent</input>
                </p>
                <li>Do you play video games?</li>
                <p>
                    <input type ="radio">Yes</input>
                    <input type ="radio">No</input>
                    <input type ="radio">Sometimes</input>
                </p>
                <li>Do you think you will pass DIG 4639C?</li>
                <p>
                    <input type ="radio">Yes</input>
                    <input type ="radio">No</input>
                    <input type ="radio">Maybe</input>
                </p>
                <li>How do you feel about the color Orange?</li>
                <p>
                    <input type ="radio">I love it</input>
                    <input type ="radio">I hate it</input>
                    <input type ="radio">Eh, who cares?</input>
                </p>
                <li>Final question: Can you see this quiz?</li>
                <p>
                    <input type ="radio">Yes</input>
                    <input type ="radio">No</input>
                    <input type ="radio">Kinda</input>
                </p>
            </ol>

        </p>
        <div className={"results"}>
            <p>Here are your results</p>
        </div>
        </div>
    