body {
  background-color: #a87e7b;
  border: inset 12px #d1eb3f ;
  margin: 10px;
  padding: 5px;
}

.un{
  background-color: #f74de1;
  color: #f7b34d;
  border: dashed 7px #55f752;
  margin: 14px;
  padding:5px;
  

}
.professional input{
    background-color: #ff0303 ;
    color: yellow;

}
.professional button{
  border-radius: 8px;
  color:white;
  background-color: rgba(9, 8, 36, 0.568);

}